@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Černá barva pro text */
  --background-start-rgb: 240, 240, 240; /* Světle šedé pozadí nahoře */
  --background-end-rgb: 255, 255, 255; /* Bílé pozadí dole */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Bílá barva pro text v tmavém režimu */
    --background-start-rgb: 0, 0, 0; /* Černé pozadí nahoře v tmavém režimu */
    --background-end-rgb: 0, 0, 0; /* Černé pozadí dole v tmavém režimu */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Přidáme nějaké základní styly pro odkazy, aby nebyly modré a podtržené */
a {
  color: inherit; /* Odkazy zdědí barvu textu */
  text-decoration: none; /* Odstraní podtržení */
}

a:hover {
  opacity: 0.8; /* Mírné ztmavení při najetí myší */
}

/* Případné další globální styly */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600; /* Silnější nadpisy */
}