@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts - 'Playfair Display' pro nadpisy, 'Inter' pro zbytek */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@700&display=swap');

:root {
  --foreground-rgb: 34, 34, 34; /* Tmavší text */
  --background-rgb: 245, 245, 245; /* Velmi světle šedé pozadí */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 230, 230, 230; /* Světlejší text pro tmavý režim */
    --background-rgb: 18, 18, 18; /* Tmavé pozadí */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  font-family: 'Inter', sans-serif;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Zabrání horizontálnímu scrollování */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif; /* Použijeme Playfair Display pro nadpisy */
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}